In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv("../Data/cleaned_train.csv")

In [38]:
# drop ID, Customer_ID, Month, Name, SSN

df = df.drop(["ID", "Customer_ID", "Month", "Name", "SSN", "Occupation"], axis=1)

In [39]:
df = df.drop_duplicates()
df.shape

# there are no duplicates

(88592, 23)

In [40]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,88582,88583,88584,88585,88586,88587,88588,88589,88590,88591
Age,23,23,23,23,23,23,23,23,28,28,...,28,28,25,25,25,25,25,25,25,25
Annual_Income,19114.12,19114.12,19114.12,19114.12,19114.12,19114.12,19114.12,19114.12,34847.84,34847.84,...,20002.88,20002.88,39628.99,39628.99,39628.99,39628.99,39628.99,39628.99,39628.99,39628.99
Monthly_Inhand_Salary,1824.84,1824.84,1824.84,1824.84,1824.84,1824.84,1824.84,1824.84,3037.99,3037.99,...,1929.91,1929.91,3359.42,3359.42,3359.42,3359.42,3359.42,3359.42,3359.42,3359.42
Num_Bank_Accounts,3,3,3,3,3,3,3,3,2,2,...,10,10,4,4,4,4,4,4,4,4
Num_Credit_Card,4,4,4,4,4,4,4,4,4,4,...,8,8,6,6,6,6,6,6,6,6
Interest_Rate,3,3,3,3,3,3,3,3,6,6,...,29,29,7,7,7,7,7,7,7,7
Num_of_Loan,4,4,4,4,4,4,4,4,1,1,...,5,5,2,2,2,2,2,2,2,2
Type_of_Loan,-0.076449,-0.076449,-0.076449,-0.076449,-0.076449,-0.076449,-0.076449,-0.076449,0.084961,0.084961,...,0.171176,0.171176,0.26889,0.26889,0.26889,0.26889,0.26889,0.26889,0.26889,0.26889
Delay_from_due_date,3,-1,3,5,6,8,3,3,3,7,...,33,33,23,23,20,23,18,27,20,18
Num_of_Delayed_Payment,7,7,7,4,4,4,8,6,4,1,...,26,25,6,6,6,7,7,6,6,6
Changed_Credit_Limit,11.27,11.27,11.27,6.27,11.27,9.27,11.27,11.27,5.42,7.42,...,18.31,18.31,9.5,11.5,9.5,11.5,11.5,11.5,11.5,11.5
Num_Credit_Inquiries,4,4,4,4,4,4,4,4,2,2,...,9,9,3,3,3,3,3,3,3,3
Credit_Mix,2,2,2,2,2,2,2,2,2,2,...,0,0,2,2,2,2,2,2,2,2
Outstanding_Debt,809.98,809.98,809.98,809.98,809.98,809.98,809.98,809.98,605.03,605.03,...,3571.7,3571.7,502.38,502.38,502.38,502.38,502.38,502.38,502.38,502.38
Credit_Utilization_Ratio,26.8226,31.945,28.6094,31.3779,24.7973,27.2623,22.5376,23.9338,24.464,38.5508,...,25.1235,37.1408,32.9913,29.1354,39.3236,34.6636,40.5656,41.2555,33.6382,34.1925
Credit_History_Age,265,265,267,268,269,270,271,271,319,320,...,73,75,375,376,377,378,379,380,381,382
Payment_of_Min_Amount,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
Total_EMI_per_month,49.57,49.57,49.57,49.57,49.57,49.57,49.57,49.57,18.82,18.82,...,60.96,60.96,35.1,35.1,35.1,35.1,35.1,35.1,35.1,35.1
Amount_invested_monthly,80.42,118.28,81.7,199.46,41.42,62.43,178.34,24.79,104.29,40.39,...,173.28,34.66,401.2,180.73,140.58,60.97,54.19,24.03,251.67,167.16
Monthly_Balance,312.49,284.63,331.21,223.45,341.49,340.48,244.57,358.12,470.69,484.59,...,228.75,337.36,189.64,400.1,410.26,479.87,496.65,516.81,319.16,393.67
Spending_Behaviour,1,0,0,0,1,1,0,1,0,1,...,0,1,0,0,1,1,1,1,0,1
Paying_Behaviour,0,2,1,0,1,1,0,1,0,2,...,2,2,0,1,1,2,1,2,2,2
Credit_Score,Good,Good,Good,Good,Good,Good,Good,Standard,Standard,Good,...,Standard,Standard,Poor,Standard,Poor,Poor,Poor,Poor,Standard,Poor

In [41]:
df_notEncoded = df.copy()
df_notEncoded["Spending_Behaviour"] = df_notEncoded["Spending_Behaviour"].map({1:"High", 0:"Low"})
df_notEncoded["Paying_Behaviour"] = df_notEncoded["Paying_Behaviour"].map({2:"Large_value_payments", 1:"Medium_value_payments", 0:"Small_value_payments"})
df_notEncoded["Payment_of_Min_Amount"] = df_notEncoded["Payment_of_Min_Amount"].map({0:"No", 1:"Yes"})
df_notEncoded["Credit_Mix"] = df_notEncoded["Credit_Mix"].map({2:"Good", 1:"Standard", 0:"Bad"})

In [42]:
df["Credit_Score"] = df["Credit_Score"].map({"Good":2, "Standard":1, "Poor":0})

In [43]:
X = df.drop("Credit_Score", axis=1)
y = df["Credit_Score"]

In [44]:
categorical_features = ["Credit_Mix", "Payment_of_Min_Amount" , "Spending_Behaviour", "Paying_Behaviour"]
numerical_features = ['Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Total_EMI_per_month',
       'Amount_invested_monthly', 'Monthly_Balance']

In [45]:
from sklearn.feature_selection import mutual_info_classif

# Compute mutual information
mi = mutual_info_classif(X, y)

# Create a DataFrame to rank features
mi_df = pd.DataFrame({'Feature': X.columns, 'Mutual Information': mi})
mi_df = mi_df.sort_values(by='Mutual Information', ascending=False)

print(mi_df)

                     Feature  Mutual Information
1              Annual_Income            0.621412
2      Monthly_Inhand_Salary            0.616088
13          Outstanding_Debt            0.608370
17       Total_EMI_per_month            0.498171
7               Type_of_Loan            0.371980
12                Credit_Mix            0.188431
5              Interest_Rate            0.180150
11      Num_Credit_Inquiries            0.122448
8        Delay_from_due_date            0.119536
4            Num_Credit_Card            0.109632
10      Changed_Credit_Limit            0.109495
15        Credit_History_Age            0.108720
3          Num_Bank_Accounts            0.104112
16     Payment_of_Min_Amount            0.103611
9     Num_of_Delayed_Payment            0.087188
6                Num_of_Loan            0.083569
19           Monthly_Balance            0.031262
0                        Age            0.026128
18   Amount_invested_monthly            0.020379
20        Spending_Behaviour            0.010459
21          Paying_Behaviour            0.006060
14  Credit_Utilization_Ratio            0.000673

In [46]:
X = X.drop(["Num_Credit_Card", "Num_Bank_Accounts", "Credit_History_Age", "Changed_Credit_Limit", "Payment_of_Min_Amount", "Num_of_Delayed_Payment", "Num_of_Loan", "Monthly_Balance", "Age", "Amount_invested_monthly", "Spending_Behaviour", "Paying_Behaviour", "Credit_Utilization_Ratio", "Num_Credit_Inquiries", "Delay_from_due_date" ,], axis=1)

In [47]:
from sklearn.feature_selection import mutual_info_classif

# Compute mutual information
mi = mutual_info_classif(X, y)

# Create a DataFrame to rank features
mi_df = pd.DataFrame({'Feature': X.columns, 'Mutual Information': mi})
mi_df = mi_df.sort_values(by='Mutual Information', ascending=False)

print(mi_df)

                 Feature  Mutual Information
0          Annual_Income            0.622121
1  Monthly_Inhand_Salary            0.614896
5       Outstanding_Debt            0.608032
6    Total_EMI_per_month            0.499651
3           Type_of_Loan            0.371808
4             Credit_Mix            0.186131
2          Interest_Rate            0.175730